$darkpurple: #0C002b;
$white: #fff;
$offwhite: #FFFEFF;
$pink: #FF718E;
$grey: #FAF7F5;
$darkgrey: #828d9d;
$lightgrey: #c4c7cc;
$black: #000000;
$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
